body {
    background-color: #141414; /* Fundo cinza mais escuro */
    color: #dcdcdc; /* Cor do texto principal */
    margin-top: 145px; /* Margem no topo para ignorar o retângulo */
    margin-left: 115px; /* Margem no lado esquerdo */
    margin-right: 115px; /* Margem no lado direito */
    margin-bottom: 80px; /* Margem na parte inferior */
    padding: 0; /* Remove preenchimento padrão do corpo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte principal */
}

.retangulo {
    background: linear-gradient(145deg, #c40000, #5f0000); /* Gradiente de vermelho */
    padding: 35px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    border: 0.5px solid #252525; /* Adiciona um contorno branco */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Z-index reduzido para ficar atrás do título */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave na mudança de cor e sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra sutil */
}

.retangulo:hover {
    background-color: #b30000; /* Cor de destaque mais clara ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Intensifica a sombra ao passar o mouse */
}

h1 {
    color: #141414; /* Cor do texto do título mais escura */
    margin: 0;
    padding: 0; /* Remove o preenchimento ao redor do título */
    text-shadow: 2px 2px 4px #666; /* Contorno cinza com sombra */
    font-size: 20px; /* Tamanho da fonte aumentado */
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    z-index: 2; /* Z-index aumentado para ficar à frente do retângulo */
}

h1:hover {
    color: #8c0000; /* Cor de destaque mais clara ao passar o mouse */
}

p {
    font-size: 16px; /* Tamanho da fonte do parágrafo */
    line-height: 1.6; /* Espaçamento entre linhas aumentado */
}

.search-bar {
    position: absolute;
    top: 50%; /* Coloca a barra de pesquisa no meio verticalmente */
    left: 50%; /* Coloca a barra de pesquisa no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a barra de pesquisa */
    display: flex; /* Alinha o input e o ícone horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.search-bar input[type="text"] {
    padding: 10px; /* Aumenta o padding da barra de pesquisa */
    width: 550px; /* Aumenta a largura da barra de pesquisa */
    z-index: 1; /* Z-index aumentado para ficar à frente do retângulo */
    border: 2px solid #8c0000; /* Adiciona borda vermelha ao redor da barra */
    border-radius: 20px 0 0 20px; /* Adiciona cantos arredondados na esquerda */
    font-size: 16px; /* Tamanho da fonte da barra de pesquisa */
    transition: width 0.7s, border-color 0.3s; /* Transição suave na mudança de largura e cor da borda */
}

.search-bar input[type="text"]:focus {
    width: 700px; /* Largura expandida quando a barra de pesquisa está em foco */
    border-color: #b30000; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão do foco */
}

.search-bar button {
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    background-color: #141414; /* Cor de fundo do botão mais escura */
    z-index: 2; /* Z-index aumentado para ficar à frente do retângulo */
    color: #8c0000; /* Cor do texto do botão */
    border: none;
    border-radius: 0 20px 20px 0; /* Adiciona cantos arredondados na direita */
    cursor: pointer;
    transition: background-color 1s, text-shadow 0.3s; /* Transição suave na mudança de cor de fundo */
    font-size: 16px;
}

.search-bar button i {
    font-size: 20px; /* Tamanho do ícone */
}

.search-bar button:hover {
    background-color: #ffffff; /* Cor de destaque mais clara ao passar o mouse */
}

.video-container {
    float: right; 
    margin-left: 35px; 
    
}

header a {
    color: #8c0000; /* Cor dos links vermelho mais escuro */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra do texto para links */
}

header a:hover {
    color: #b30000; /* Cor de destaque mais clara ao passar o mouse */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); /* Intensifica a sombra ao passar o mouse */
}

#urubu {
    color: #141414; /* Define a cor do texto como preto */
    font-size: 50px; /* Tamanho da fonte */
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.575); /* Sombra do texto */
    text-decoration: none; /* Remove o sublinhado do link */
    z-index: 2; /* Z-index para ficar à frente do retângulo */
    position: fixed; /* Posiciona fixamente */
    top: 0.1%; /* Ajusta a posição vertical */
    left: 20%; /* Ajusta a posição horizontal */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: auto; /* Largura automática para o conteúdo */
    max-width: 600px; /* Largura máxima */
    padding: 0; /* Remove o preenchimento do link */
    margin: 0; /* Remove a margem do link */
    transition: color 1s, text-shadow 0.3s; /* Transição suave na mudança de cor e sombra do texto */
}

#urubu:hover {
    color: #ffffff; /* Cor de destaque ao passar o mouse */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Intensifica a sombra ao passar o mouse */
}

#bandas {
    color: #8c0000; /* Cor dos links vermelho mais escuro */
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0; /* Remove o preenchimento padrão da lista */
}

#bandas:hover {
    color: #b30000; /* Cor de destaque mais clara ao passar o mouse */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

li {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

#Titulo {
    color: #ffd700; /* Amarelo pastel */
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Titulo:hover {
    color: #ffe139; /* Amarelo pastel */
}

#Musicas {
    color: #8c0000; /* Cor dos links vermelho mais escuro */
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0; /* Remove o preenchimento padrão da lista */
}

#Musicas:hover {
    color: #b30000; /* Cor de destaque mais clara ao passar o mouse */
}

#OutrasMusicas {
    color: #8c0000; /* Cor dos links vermelho mais escuro */
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s; /* Transição suave na mudança de cor do texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0; /* Remove o preenchimento padrão da lista */
    position: fixed; /* Posiciona fixamente */
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da direita da página */
    z-index: 999; /* Garante que o link esteja sempre à frente de outros elementos */
}

#OutrasMusicas:hover {
    color: #b30000; /* Cor de destaque mais clara ao passar o mouse */
}

@media screen and (max-width: 768px) {
    #urubu {
        font-size: 28px; /* Reduz o tamanho do ícone em telas menores */
        left: 5%; /* Ajusta a posição horizontal */
    }

    .search-bar {
        top: 15%; /* Ajusta a distância do topo */
        width: 90%; /* Aumenta a largura em dispositivos menores */
    }

    .search-bar input[type="text"] {
        font-size: 14px; /* Reduz o tamanho da fonte para dispositivos menores */
    }

    .search-bar button {
        font-size: 14px; /* Reduz o tamanho do botão */
    }
}
